{% extends 'agent/Base.html' %}
{% load staticfiles %}
{% block titleblock %}
Add Tenent
{% endblock %}
{% block link %}

<link href="{% static "css/datepickercss.css" %}" rel="stylesheet" />
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="inner-heading">
          <ul class="breadcrumb">
            <li><a href="{% url 'agent_index' %}">Home</a> </li>
       
          </ul>
          <h2>Home</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="container">
  <div class="container">
    <div class="row">
      <div class="span8">

          </div>
          </div>
          </div>
          </section>
          {% endblock %}