{% extends 'TM_template/Agent/Base.html' %}
{% load staticfiles %}
{% block titleblock %}
Agent List
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'adminhome' %}"><i class="icon-home"></i> Home</a> <i
                                class="icon-angle-right"></i></li>
                        <li class="active">Property</li>
                    </ul>
                    <h2>Property</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
    <div class="container">
        <div class="row">
        

<!-- </div> -->
           

                <div style="background-image: url('images/bg-01.jpg');">
                    <div>

                        {% if allocated_pr %}
                        <table class="table fixed_header">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Rent</th>
                                    <th>Deposite</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Sold Out</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for property in allocated_pr %}

                                <tr data-id='{{property.property_id}}'>
                                    <td>{{ property.pr_address}} </td>

                                    <td> {{property.msp_name}}
                                        {{ property.msp_address }}</td>
                                    <td>{{ property.pr_rent }}</td>
                                    <td>{{ property.pr_deposite }}</td>
                                    <td>{{ property.pr_description }}</td>

                                    <td>{% if property.pr_is_allocated == True %}
                                    <div class="dropdown">
                                    <a class="dropdownlink" data-id="{{property.property_id}}"  >Options <i class='icon-angle-down'></i></a>
                                    <div class="dropdown-content">
                                    <a data-pid='{{property.property_id}}' data-toggle="tooltip" title="Deallocate Tenant to Property" class="deallocate_tenant"> Deallocate </a>
                                    <a> Add Rent Details </a>
                                    <a> Edit Agreement </a>
                                    </div>
                                    </div>
                                    {% else %}  <a class="allocate_tenant" data-toggle="tooltip" title="Allocate Tenant to Property" data-pid="{{property.property_id}}" >Allocate <i class='icon-angle-right'></i></a></i> {% endif %}</td>
                                    <td>
                                        {% if property.pr_is_active == True %}
                                        Active
                                        {% else %}
                                        Sold out
                                        {% endif %}
                                    </td>

                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                        {% else %}
                        <strong>No Properties.</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}