{% extends 'admin_site/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Agent List
{% endblock %}
{% block bodyblock %}
<div  align="center">
    <div style="background-image: url('images/bg-01.jpg');">
        <div >

            {% if agent %}
               
                        <tr>
                            <td>{{ agent.first_name }} {{ agent.lsat_name }}</td> 
                            <td>{{ agent.ag_contact }}</td>
                            <td>{{ agent.email }}</td>
                            <td colspan="2">{{ agent.ag_local_address }}</td>
                            <td>{{ agent.date_joined }}</td>
                            <td> <img src="{{ STATIC_URL }}{{ agent.ag_profile_image }}" alt="{{ agent.username }}"></td>
                            <td>
                                <form method="POST" action="{% url 'agent_request_accept' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ agent.id }}">
                                    <input type="submit" name="submit" value="Accept">
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'agent_request_reject' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ agent.id }}">
                                    <input type="submit" name="submit" value="Reject">
                                </form>
                            </td>
                            
                        </tr>
                   
            {% else %}
                <strong>Profile not found                   .</strong>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}