{% extends 'admin/base.html' %}
{% load staticfiles%}
{% block titleblock %}Add Property
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'admin_index' %}"><i class="icon-home"></i> Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">Add Property</li>
                    </ul>
                    <h2>Add Property</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
    <div class="container">
        <div class="row">
            <div class="span10">

                <div style="background-image: url('images/bg-01.jpg');">
                    <div>
                        <form enctype="multipart/form-data" role="form" class="contactForm" action="" method="POST"
                            id="AddMPForm" onsubmit="return validateForm()">
                            {% csrf_token %}
                            Select Property:
                            <select name="msp" class="form-data" id="msp_list" placeholder="new hint" required>
                                <option >Select item</option>
                                {% for item in address_list %}
                                <option  value={{item.id}}> {{item.msp_name}} {{item.msp_address}}</option>
                                {% endfor %}
                            </select><br />
                            
                            <div id="property" class="hidden">
                               
                            </div>
                            
                            <input name="num" id="num" type="hidden" value="1"/>
                            Address:
                            <input type="text" name="prp_address0"/>
                            <div id="addresses">
                            
                            </div>
                            <a id="add_address"  class="icon-plus-sign"></a>
                            
                            <br />
                            Rent:
                            <input type="number" min="0.00" step=".01"  name="prp_rent" /><br />
                            Deposite:
                            <input type="number" min="0.00" step=".01" name="prp_deposite" /><br />
                            Description:
                            <textarea name="prp__description" required="True"></textarea><br/>

                            <button type="submit" id="btn_submit" class='btn btn-success'>Add Property</button>
                        </form>
                        <script>
                            function validateForm() {
                                if($("#msp_list").val()=="Select item")
                                {
                                    $("#msp_list").attr("data","aaya mai");
                                    return false;
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}