<div >
    {% if agents %}
        <table class="table" id="tbl_agents">
            <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th colspan="2">Address</th>
            <th>Date of Request</th>
            <th>Profile</th>
            <th>Accept</th>
            <th>Reject</th>
            <th>View</th>
            </tr>

            {% for agent in agents %}
                <tr>
                    <td>{{ agent.first_name }} {{ agent.last_name }}</td> 
                    <td>{{ agent.ag_contact }}</td>
                    <td>{{ agent.email }}</td>
                    <td colspan="2">{{ agent.ag_local_address }}</td>
                    <td>{{ agent.date_joined }}</td>
                    <td> <img height="100px" width="100px" src="{{ MEDIA_URL }}{{ agent.ag_profile_image }}" alt="Iamge of {{ agent.username }}"></td>
                    <td>
                        <form method="POST" action="{% url 'admin_agent_request_accept' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ agent.id }}">
                            <input type="submit" name="submit" class="btn-success btn-rounded" value="Accept">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'admin_agent_request_reject' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ agent.id }}">
                            <input type="submit" name="submit" class="btn-danger btn-rounded" value="Reject">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'admin_agent_profile' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ agent.id }}">
                            <input type="submit" name="submit" class="btn-info btn-rounded" value="View">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
        </table>
        {% if agents.has_other_pages %}
            <div class="pagination">
            <ul class="pagination">
                {% if agents.has_previous %}
                <li class="active"><a href="/admin/agent_request_search/?page={{ agents.previous_page_number }}&suggestion={{ suggestion }}">Prev</a></li>
                {% else %}
                <li class="disabled"><a href="">Prev</a></li>
                {% endif %}
                {% for i in agents.paginator.page_range %}
                {% if agents.number == i %}
                <li class="active"><a href="">{{ i }} </a></li>
                {% else %}
                <li><a href="/admin/agent_request_search/?page={{ i }}&suggestion={{ suggestion }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if agents.has_next %}
                <li><a href="/admin/agent_request_search/?page={{ agents.next_page_number }}&suggestion={{ suggestion }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    {% else %}
        <strong>No new Requests.</strong>
    {% endif %}
</div>
