<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tenant Management - 
        {% block titleblock %}
        Yo
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web site For Agents to provide property on rent to tenants." />
    <meta name="author" content="" />

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet" />
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/flexslider.css" %}" rel="stylesheet" />
    <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" />
    <link href="{% static "css/camera.css" %}" rel="stylesheet" />
    <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- <link href="../../static/css/style.css" rel="stylesheet" /> -->
    <!-- Theme skin -->
    <link href="{% static 'color/default.css' %}" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />

    <style>
        .fixed_header tbody {
            display: block;
            max-height: 400px;
            overflow-y: scroll;
            border-collapse: collapse;

        }

        .fixed_header thead,
            tbody tr {
            display: table;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        } 
        .fixed_header td{
            word-wrap:break-word;
        }

        .fixed_header2 tbody {
        display: block;
        max-height: 200px;
        overflow-y: scroll;
        border-collapse: collapse;

        }

        .fixed_header2 thead,
        tbody tr {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        } 
        .fixed_header2 td{
            word-wrap:break-word;
        }

         /* The Modal (background) */
        .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
        background-color: #fefefe;
        margin: 15% 50%; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        } 

</style>

   
</head>
<body>


    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6"></div>
                        <div class="span6">

                            {% comment %} <ul class="social-network">
                                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
                            </ul> {% endcomment %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">


                <div class="row nomargin">
                    <div class="span4">
                        <div class="logo">
                           <h1> <a href="{% url 'admin_index' %}"><img src="{% static 'image/tmlogonew.png' %}" style="height:90px;" alt=""  /></a></h1>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">

                                        <li class="dropdown">
                                            <a>Agent <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'admin_agent_requests' %}">Agent Requests </a></li>
                                                <li><a href="{% url 'admin_agent_active' %}">Active Agents</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Property <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"><a >Master Property<i class="icon-angle-right"> </i></a>
                                                    <ul class="dropdown-menu sub-menu-level1">
                                                            <li><a href="{% url 'admin_add_master_property' %}">Add Master Property</a></li>
                                                            <li><a href="{% url 'admin_view_master_property' %}">View Master Properties</a></li>
                                                        </ul>
                                                </li>
                                                <li class="dropdown"><a >Property<i class="icon-angle-right"></i></a>
                                                    <ul class="dropdown-menu sub-menu-level1">
                                                            <li><a href="{% url 'admin_add_property' %}">Add Property</a></li>
                                                            {% comment %} <li><a href="{% url 'property_listview' %}">View Properties</a></li> {% endcomment %}
                                                        </ul>
                                                    </li>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'admin_allocate_clone' %}">Allocate Agent </a>
                                        </li>
                                        <li class="dropdown">
                                            <a >Clones <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'admin_create_clone' %}">Create Clones</a></li>
                                                <li><a href="{% url 'admin_manage_clones' %}">Manage properties of Clones</a></li>
                                                {% comment %} <li><a href="#">Delete Clones</a></li> {% endcomment %}
                                            </ul>
                                        </li>
                                        
                                        <li>
                                            <a href="{% url 'index' %}" style="background-color: #e96b56;
                                                                                border: none;
                                                                                color: white;
                                                                                
                                                                                text-align: center;
                                                                                text-decoration: none;
                                                                                display: inline-block;
                                                                                font-size: 20px;
                                                                                margin: 4px 2px;
                                                                                cursor: pointer;"
                                                                                 class="btn-mini btn-rounded animated fadeInUp"
                                                                                 onclick="alert('You are logged out.')">Log Out</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
{% block bodyblock %}
{% endblock %}
       <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Browse pages</h5>
                            <ul class="link-list">
                                <li><a href="{% url 'admin_agent_active' %}">Agent View</a></li>
                                <li><a href="{% url 'admin_view_master_property' %}">Property View</a></li>
                                <li><a href="{% url 'admin_add_property' %}">Add Property</a></li>
                                <li><a href="{% url 'admin_add_master_property' %}">Add Master Property</a></li>
                                <li><a href="{% url 'admin_manage_clones' %}">Manage Property</a></li>
                                
                            </ul>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Get in touch</h5>
                            <address>
                                <strong>Example Example</strong><br>
                                Example Example<br>
                                Example Example
                            </address>
                            <p>
                                <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                                <i class="icon-envelope-alt"></i> email@domainname.com
                            </p>
                        </div>
                    </div>
                    <div class="span4">
    
                      <iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=21.195498297291348,72.79268457088621&amp;q=Surat%2CGujarat%2CIndia+(My%20BuTenant%20Management%20App)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe>
                   
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/custom/tenant-ajax.js" %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/toucheffects.js' %}"></script>
    <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'js/camera/camera.js' %}"></script>
    <script src="{% static 'js/camera/setting.js' %}"></script>

    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
    <script src="{% static 'js/portfolio/setting.js' %}"></script>

    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/inview.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    </body>

</html>