
{% extends 'admin/Base.html'%}
{% load staticfiles%}
{% block titleblock %}Create Clones
{% endblock %}
{% block bodyblock %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'admin_index' %}"><i class="icon-home"></i> Home</a> <i
                                class="icon-angle-right"></i></li>
                        <li class="active">manage clones</li>
                    </ul>
                    <h2>Manage Clones</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
    <div class="container">
        <div class="row">
            <div class="span11">
                <div style="background-image: url('images/bg-01.jpg');">
                    <div>
                        <form method="POST" action="{% url 'admin_manage_clones' %}"
                        class='contact-form' onsubmit="manage_form()">
                        {% csrf_token %}
                        Master Property:

                        <select style="width: 75%" style="width: 75%" name="pr_msp" required class="form-data" id="msp" placeholder="new hint" required>
                            <option value="" selected="selected">Select Master Property</option>
                            {% for item in obj_msp %}
                            <option value={{item.id}}> {{item.msp_name}} {{item.msp_address}}</option>
                            {% endfor %}
                        </select><br /></br>

                        <div id="property" class="hidden">
                            
                        </div>
                        {% comment %} Create Clone: <input type="checkbox" id="create_clone" name="msp_have_clones"
                            class="checkbox"></br></br> {% endcomment %}
                        <div id="clone_div" class="hidden">
                            Manage by Master Property :<input type="checkbox" id="manage_by_property" name="msp_have_clones" class="checkbox"></br>
                            
                            <div id="clone_list" class='hidden'>

                            </div>
                            <div id="property_list" class='hidden row'>
                                <div id="property_select" class='span4'>
                                <select id="move_from" name="move_from" multiple>
                                    
                                </select>
                                </div> 
                                <div class='span4'>
                                 <a class="move_from"><i class="icon-circle-arrow-right"></i></a>
                                            <a class="move_to"><i class="icon-circle-arrow-left"></i></a>
                                <select id="move_to" name="move_to[]" multiple>
                                    {% comment %} <option value="{{ row.id }}">{{ row.pr_address}} {{ row.pr_master.cln_alias }}</option> {% endcomment %}
                                </select>
                                </br> <a class="move_all_from">Choose All<i class="icon-circle-arrow-right"></i></a>
                                            <a class="move_all_to">Choose All<i class="icon-circle-arrow-left"></i></a>
                                </div>
                            </div>
                            
                        </div>
                        <button class='btn btn-success btn-rounded'>Add Clone</button>

                        </form>
                       
           
                

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
