
{% if rows %}
    <select id="move_from" name="move_from" multiple>
        {% for row in rows %}
            <option value="{{ row.id }}">{{ row.pr_address}} >> {{ row.pr_master.cln_alias }}</option>
        {% endfor %}
    </select>  <a class="move_from"><i class="icon-circle-arrow-right"></i></a>
                <a class="move_to"><i class="icon-circle-arrow-left"></i></a>
    <select id="move_to" name="move_to[]" multiple>
        {% comment %} <option value="{{ row.id }}">{{ row.pr_address}} {{ row.pr_master.cln_alias }}</option> {% endcomment %}
    </select>
    </br> <a class="move_all_from">Choose All<i class="icon-circle-arrow-right"></i></a>
                <a class="move_all_to">Choose All<i class="icon-circle-arrow-left"></i></a>
    

{% endif %}